{% extends "layouts.html" %}

{% block content %}
<div class="img" id="home">
    <div class="bg">
        <div>
            <h1 class="titlePage animate__animated animate__bounce">UTN-FRT</h1>
        </div>
        <div class="w-50">
            <div>
                En este Módulo te queremos inculcar el conocimiento sobre el surgimiento, desarrollo y crecimiento
                de la Universidad en general, de la UTN y de la casa de altos estudios a la que deseas pertenecer (UTN-
                FRT).
                También queremos mostrarte su funcionamiento y órganos de gobierno.
            </div>
            <div class="social">
                <a href="https://www.facebook.com/andres.cuello.14/">
                    <span class="fab fa-facebook-f icon-favicon"></span>
                </a>
                <a href="https://www.instagram.com/4ndres_cuello/?hl=es">
                    <span class="fab fa-instagram icon-favicon"></span>
                </a>
                <a href="https://github.com/andrescuello7">
                    <span class="fab fa-github icon-favicon"></span>
                </a>
                <a href="https://www.linkedin.com/in/silvio-andres-cuello-a9a1b11bb/">
                    <span class="fab fa-linkedin icon-favicon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="w-80 d-flex justify-content-around m-5" id="about">
    <div class="w-50">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YHXpVHa295U"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="about">
        <div>
            <h2 class="titlePage">UTN-FRT</h2>
        </div>
        <div>
            En este Módulo te queremos inculcar el conocimiento sobre el surgimiento, desarrollo y crecimiento
            de la Universidad en general, de la UTN y de la casa de altos estudios a la que deseas pertenecer (UTN-
            FRT).
            También queremos mostrarte su funcionamiento y órganos de gobierno.
        </div>
    </div>
</div>
<div class="creacion" id="creation">
    <div>
        <h2 class="titlePage">
            Creciacion de la UTN-FRT
        </h2>
    </div>
    <div class="creacionDescripcion">
        <div class="w-50">
            La historia de la facultad es una que tracendio a lo largo de los años en nuestro pais y nosotros podemos
            saber que la trasendencia de la misma fue posible gracias a la dedicacion que tuvieron los docentes y a la
            motrivacion y el poco conformismo que tuvieron los estudiantes, que sabiendo que es su educacion la que
            estuvo en juego no se conformaron con lo que las posivilidades de la epoca ques brindaban sino que tambien
            propusieron y reclamaron para que sus idea tengan voz, hoy solo tenemos recuerdos de lo que fueron sus
            inicios pero lo que no se perdera sera el espiritu desafiante a queres llegar mas lejos.
        </div>
        <div>
            <img class="imgLogoUtn" src="https://media.slid.es/uploads/69846/images/2340545/logoutngrande.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}